.footer {
    background: var(--color-bg);
    color: var(--color-text);
    text-align: center;
    border-top: 1px solid #D9CFC4;
}

.footer__top {
    border-bottom: 1px solid #D9CFC4;
    padding: 40px;
}

.footer__nav ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.footer__nav a {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer__nav a:hover {
    color: #D9CFC4;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 8.5vw;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    position: relative;
}

.footer__main h3 {
    font-family: 'Prata', serif;
    font-size: 4rem;
    font-weight: lighter;
    margin: 0;
    color: white;
    letter-spacing: 1px;
}

.footer__socials {
    display: flex;
    gap: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer__socials img {
    width: 3.5rem;
    height: 3.5rem;
    transition: 0.3s;
}

.footer__socials img:hover {
    filter: invert(60%);
}

.footer__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.5rem;
    color: #D9CFC4;
}

.footer__meta p {
    margin: 0;
}

.footer__meta a {
    color: #D9CFC4;
    text-decoration: none;
    transition: 0.3s;
}

.footer__meta a:first-of-type {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer__meta a:hover {
    color: white;
}

.footer__button-wrapper button {
    padding: 1rem 1.5rem;
    font-style: italic;
    font-weight: 500;
}

@media (max-width: 700px) {
    .footer__main, .footer__nav ul, .footer__meta {
        flex-direction: column;
    }

    .footer__socials, .footer__meta a:first-of-type {
        position: relative;
    }

    .footer__meta a {
        width: 100%;
        text-align: center;
    }

    .footer__socials {
        transform: translateX(0);
        left: 0;
    }
}